*.bak
*.pyc
*.xml
*.tar.gz
*.iml
*.icls

# Temp
build/
docs/build/
docs/_build/
dist/
*.egg-info/
colors
# IDE
.idea/

.DS_Store

# 排除各种答辩资料

CUMCM历年论文/
CUMCM历年赛题/
FDU/
SUEP/
TONGJI/
智慧树资料/
老哥资料/
论文模版/